awsebcli==3.10.1
backports.ssl-match-hostname==3.5.0.1
BeautifulSoup==3.2.1
beautifulsoup4==4.5.3
blessed==1.14.2
botocore==1.5.60
cement==2.8.2
click==6.7
colorama==0.3.7
cycler==0.10.0
Cython==0.25.2
Django==1.8.4
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.13.1
fake-useragent==0.1.4
Flask==0.12.2
Flask-Cors==3.0.3
foreman==0.9.7
functools32==3.2.3.post2
futures==3.1.1
glassdoor==0.0.8
gunicorn==19.7.1
heroku==0.1.4
httpclient==0.0.2
itsdangerous==0.24
Jinja2==2.9.6
jmespath==0.9.3
lxml==3.7.1
MarkupSafe==1.0
matplotlib==2.0.0
mechanize==0.2.5
npm==0.1.1
numpy==1.11.2
optional-django==0.1.0
pandas==0.19.2
pathspec==0.5.0
pbr==1.10.0
psycopg2==2.6.2
pyparsing==2.2.0
pyPdf==1.13
PyPDF2==1.26.0
python-dateutil==2.6.0
pytz==2016.4
PyYAML==3.12
requests==2.9.1
requests-futures==0.9.7
scikit-learn==0.18
scipy==0.18.1
seaborn==0.7.1
semantic-version==2.5.0
simplejson==3.8.2
simpy==2.3
six==1.10.0
sklearn==0.0
stevedore==1.16.0
subprocess32==3.2.7
tabulate==0.7.5
termcolor==1.1.0
virtualenv==15.0.1
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
wcwidth==0.1.7
websocket-client==0.40.0
Werkzeug==0.12.2
yahoo-finance==1.2.1
